PROJECT_NAME_SERVER=server-yape
PROJECT_NAME_MICRO_SERVER=micro-server-yape
JOB_BASE_NAME=develop
PORT_LOCAL_MICRO=3000
PORT_LOCAL_SERVER=4000
DB_NAME=yape
DB_PORT=5432
DB_USER=yappe-admin
DB_PASSWORD=1234
ZOOKEEPER_PORT=22181
KAFKA_PORT=29092
KAFKA_UI_PORT=8080
