# Ignora archivos del sistema Mac 
/.env

# Ignora la carpeta node_modules
node_modules/
./node_modules/
/node_modules
# Ignora todos los archivos de texto
*.txt

# Ignora los archivos relacionados a API keys
.env

# Ignora archivos de configuración SASS
.sass-cache