KAFKA_BROKER=kafka:29092
KAFKA_TRANSACTION_CLIENT_ID=transaction
KAFKA_TRANSACTION_GROUP_ID=transaction-consumer
KAFKA_SERVER_CLIENT_ID=antifraud
KAFKA_SERVER_GROUP_ID=antifraud-consumer

APP_AMOUNT_REJECTED=1000